---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About me</h1>
    <p>
      I'm a frontend developper trying out the latest and greatest framework.
      From what i heard however, I'm not sure I can call this a framework. It
      seems to be a mega framework that takes all of the popular frameworks and
      blends them into one. That way anyone can try it out. Myself, I've worked
      with Vue for most of my career so far and I'm happy that i can try using
      Astro without needing to learn an entire new syntax.
    </p>

    <p>
      I'll check back in when I finish the starter tutorial to share my final
      thoughts!
    </p>
  </body>
</html>
