---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
---

<html lang="en">
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h1>{pageTitle}</h1>
      <p>Here are some of my lastest posts:</p>
      <ul>
        <li><a href="/posts/test-post/">post 1</a></li>
        <li><a href="/posts/test-post1/">post 2</a></li>
        <li><a href="/posts/test-post2/">post 3</a></li>
      </ul>
    </BaseLayout>
  </body>
</html>
