---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<html lang="en">
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h1>{pageTitle}</h1>
      <p>Here are some of my lastest posts:</p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
